body {
	background-color: #eeeeee;
}

.navbar-brand {
	font-size: 30px;
	font-weight: bold;
}
.navbar-nav {
	width: 100%;
	display: flex;
}

.form-inline {
	/*display: block;*/
	justify-content: center;
	margin: 30px;
}

.form-control {
	width: 100% !important;
	margin-right: 10px;	
}


#search {
   position:relative;
}
.search_result {
    background: #FFF;
    border: 1px #ccc solid;
    width: 100%;
    border-radius: 4px;
    max-height:100px;
    /*overflow-y:scroll;*/
    display:none;
}
.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}
.search_result li:hover{
    background: #D5D8DC;
}
.search_result li a:hover{
    text-decoration: none;
}

/* *******  Page - VIEW.PHP  ******* */

.person-info {
	font-size: 28px;
	/*font-weight: bold;*/
}

.person-info div {
	padding-bottom: 10px;
}

.btn-call,
.btn-gps {
	margin-right: 10px;
	font-size: 24px;
}

.header-view {
	font-size: 28px;
	font-weight: bold;
	margin-top: 20px;
  margin-bottom: 10px;
}

.text-description {
	font-size: 20px;
}

.form-content {
	display: flex;
	justify-content: center;
}



/*Edit photo-profie*/
	
.edit-photo-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar-edit {
  display: flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* и вертикали */
  width: 50%;  
  overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */
}

.avatar-edit img {
	height: 250px;
	margin-bottom: 20px;
  border-radius: 5px;

}

#add_field_btn,
#add_field_child_btn,
.close:hover, 
.btn-copy:hover {
	cursor: pointer;
  opacity: 1;
}
.btn-copy {
  transition: all 0.8s;
  opacity: 0.5;
}

.btn-edit img {
  transform: scale(1.0);
  margin-left: 3px; 
  opacity: 0.6;
}
.btn-edit img:hover {
  opacity: 1;
	transition: 1s;
  transform: scale(1.15);
	
	/*background-color: yellow;*/
}


/*  Animation when you create  */

.send_success_anim {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100%;
	position: fixed;
	right: auto;
	top: 0px;
	z-index: 100;

	opacity: 0.8;
	transition: all 1.5s ease 0s; 
}

.send_success img {
	height: 0px;
	opacity: 0;
}

.send_success_anim img {
	height: auto;
	opacity: 1;
	transition: all 1.5s ease 0.5s; 
}




.loading_anim {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100%;
	position: fixed;
	right: auto;
	top: 0px;
	z-index: 100;

	opacity: 0.8;
	transition: all 1.5s ease 0s; 
}

.loading img {
	height: 0px;
	opacity: 0;
}

.loading_anim img {
	height: auto;
	opacity: 1;
	transition: all 1.5s ease 0.5s; 
}


/*  Styles for download image on jQuery  */

    #image-preview {
      width: 400px;
      height: 400px;
      position: relative;
      overflow: hidden;
      background-color: #ffffff;
      color: #ecf0f1;
      margin-top: 15px;
      border-radius: 5px;
    }
    #image-preview input {
      line-height: 200px;
      font-size: 200px;
      position: absolute;
      opacity: 0;
      z-index: 10;
    }
    #image-preview label {
      position: absolute;
      z-index: 5;
      opacity: 0.8;
      cursor: pointer;
      background-color: #bdc3c7;
      width: 200px;
      height: 50px;
      font-size: 20px;
      line-height: 50px;
      text-transform: uppercase;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
    }

    #image-preview-mini-1,
    #image-preview-mini-2,
    #image-preview-mini-3,
    #image-preview-mini-4,
    #image-preview-mini-5 {
      width: 200px;
      height: 200px;
      position: relative;
      overflow: hidden;
      background-color: #ffffff;
      color: #ecf0f1;
      border-radius: 5px;
    }
    #image-preview-mini-1 input,
    #image-preview-mini-2 input,
    #image-preview-mini-3 input,
    #image-preview-mini-4 input,
    #image-preview-mini-5 input {
      line-height: 100px;
      font-size: 100px;
      position: absolute;
      opacity: 0;
      z-index: 10;
    }
    #image-preview-mini-1 label,
    #image-preview-mini-2 label,
    #image-preview-mini-3 label,
    #image-preview-mini-4 label,
    #image-preview-mini-5 label {
      position: absolute;
      z-index: 5;
      opacity: 0.8;
      cursor: pointer;
      background-color: #bdc3c7;
      width: 100px;
      height: 25px;
      font-size: 10px;
      line-height: 25px;
      text-transform: uppercase;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
    }

    .baguetteBoxOne a img {
      border-radius: 4px;
    }

    .info-row {
      background: #C5EDA5;
    }

    .card-body {
      background: #EBF6FF;
    }

    .person-img img {
      border-radius: 10px;
    }
    .comments {
      margin-top: 30px;
    }
    .comment-item {
      border-radius: 4px;
    }
    .comment-date {
      font-size: 16px;
      color: #cccccc;
    }
    .info-row {
      border-radius: 3px;
    }
    .title-page {
      font-size: 36px;
      font-weight: 500;
      padding-bottom: 30px; 
    }

    .custom-edit-file {
      padding-bottom: 30px;
    }



@media (max-width: 1200px) {

}

@media (max-width: 992px) {
/*    .btn-img {
      width: 20px
    }*/

    .card-body {
      padding: 1.15rem;
    }
    .comment-item {
      font-size: 15px;
    }
    .comment-date {
      font-size: 13px;
    }
}

@media (max-width: 768px) {
    .card-body {
      padding: 0.7rem;
    }

    .baguetteBoxOne a img {
      width: 100%;
      height: auto;
      max-width: 750px;
    }

    .text-description {
      font-size: 18px;
    }
    .person-info {
      font-size: 24px;
    }
    .btn-gps {
      font-size: 20px;
    }
    #image-preview {
      margin: 0 auto;
      margin-top: 15px;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
      font-size: 26px;
    }
    .btn-img {
      display: none;
    }
    .text-place {
      color: #4190CD !important;
    }

    .btn-back {
      margin: 0px 10px;
    } 

    .info-row .h6 {
      font-size: 15px;
    }
    .info-row div {
      display: flex;
      align-items: start;
    }

    .text-description {
      font-size: 16px;
    }

    .card-body {
      padding: 0.5rem;
    }

    .person-img img {
      margin-bottom: 30px;
    }

    #image-preview {
      width: 300px !important;
      height: 300px !important;
    }

    .each-images {
      justify-content: center;
    }

    #image-preview label {
      width: 175px !important;
      height: 45px !important;
      font-size: 17px !important;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
    }

    #image-preview-mini-1 label,
    #image-preview-mini-2 label,
    #image-preview-mini-3 label,
    #image-preview-mini-4 label,
    #image-preview-mini-5 label {
      width: 120px !important;
      height: 30px !important;
      font-size: 12px !important;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
    }



}

@media (max-width: 425px) {

    .container {
      padding-right: 25px;
      padding-left: 25px;
  }

    .navbar-brand {
      font-size: 23px;
    }

    .info-row div {
      display: flex;
      align-items: start;
    }

    .card-body {
      padding: 0.25rem;
    }

    .baguetteBoxOne a img {
      width: 100%;
      height: auto;
      max-width: 420px;
    }

    .btn-back {
      font-size: 13px;
    } 

    .person-info {
      font-size: 25px;
    }
    .person-info div {
      padding-top: 5px;
    }
    .text-description {
      font-size: 15px;
    }
    .header-view {
      font-size: 24px;
    }
    #search-form {
        margin: 30px 0px;
    }
    .result span {
      font-size: 14px;
    }


    #image-preview {
      width: 250px !important;
      height: 250px !important;
    }

    #image-preview label {
      width: 150px !important;
      height: 40px !important;
      font-size: 15px !important;
    }

    .title-page {
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 30px; 
    }
}